#!/bin/bash 
#SBATCH --time=00:10:00  
#SBATCH --mem=35G
#SBATCH --job-name snappy.config
#SBATCH --output=%x-%j.out
#SBATCH -V 



work_dir=/project/richards/ethan.kreuzer/SNAPPY

exposure_gwas=/project/richards/ethan.kreuzer/SNAPPY/proxy/exposure.yann.1

outcome_gwas=/project/richards/ethan.kreuzer/SNAPPY/proxy/outcome.yann

refGenome=/scratch/richards/ethan.kreuzer/data//new_ref_gen

ancestry_file=/project/richards/ethan.kreuzer/SNAPPY/ancestry.txt

output_file=snappy.testing.out

number_of_proxies=3

R2_threshold=0.75

LD_window=1500

cd $work_dir


cd ${work_dir}/proxy



bash ${work_dir}/snappy.sh ${exposure_gwas} ${outcome_gwas} ${refGenome} ${ancestry_file} ${LD_window} ${R2_threshold} ${number_of_proxies} ${output_file}

